.about {
  background: #00b9b9; }
  .about__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .about__about-us {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .about__about-us--h1 {
      text-align: center;
      font-size: 90px;
      font-family: 'ralewayheavy';
      color: #fff;
      margin: 0 auto; }
    .about__about-us--p {
      font-size: 17px;
      line-height: 27px;
      font-family: 'Raleway';
      color: #ddf3f3;
      margin: 0;
      margin-left: 15%; }
  .about__fruit {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .about__fruit--img {
      width: 100%; }
