.blog {
    background: #b07cf7;
    &__content {
        text-align: center;
        &--h1 {
            color: #fff;
            font-size: 90px;
            margin-bottom: 0;
            font-family: 'Raleway';
        }
        &--p {
            font-family: 'Raleway';
            margin: 0;
            line-height: 25px;
            color: #e1d1fc;
            font-size: 17px;
        }
    }
    &__box {
        margin-top: 55px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
        &__box1 {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            position: relative;
            align-items: flex-start;
            justify-content: space-between;
            &--img {
                width: 100%;
            }
            &--artical {
                width: 70px;
                background: #4d535b;
                text-align: center;
                opacity: 0.70;
                height: 70px;
                border-radius: 10px;
                margin: 0 auto;
                position: absolute;
                margin-top: 40px;
                margin-left: 30px;
            }
            &--h5 {
                font-size: 27px;
                margin: 0 auto;
                color: #fff;
                font-family: 'Raleway';
                position: absolute;
            }
        }
        &--paragraph {
            width: 310px;
            text-align: left;
            position: absolute;
            display: inline-block;
            margin-top: 46%;
            margin-left: 6%;
        }
        &--p {
            color: #fff;
            font-size: 20px;
            font-family: 'Raleway';
            position: absolute;
            line-height: 25px;
            font-weight: bold;
        }
        &--ps {
            position: absolute;
            font-size: 13px;
            font-family: 'Raleway';
            color: #fff;
            padding-top: 23%;
        }
    }
    &__button {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 118px;
        &--button {
            padding: 14px;
            width: 200px;
            background: #f72b3b;
            border: none;
            outline: none;
            font-size: 20px;
            font-family: 'Raleway';
            color: #fff;
        }
    }
}