.subscribe {
    background-image: url('../cahee-assets/bg.png');
    background-position: right;
    background-size: cover;
    &__big-box {
        margin-top: 134px;
        margin-bottom: 163px;
    }
    &__box {}
    &__content {
        &--h3 {
            font-size: 40px;
            font-family: 'Raleway';
            color: #262626;
        }
        &--p {
            font-family: 'Raleway';
            font-size: 17px;
            color: #555555;
            width: 60%;
            margin-top: -31;
            line-height: 27px;
        }
    }
    &__form {
        width: 60%;
        display: flex;
        &--input {
            padding: 12px;
            width: calc(100% - 138px);
            border: 1px solid #555;
            border-right: none;
            outline: none;
            font-size: 15px;
            height: 44px;
            color: #aaaaaa;
            font-family: 'Raleway';
            background: none;
        }
        &--button {
            font-family: 'Raleway';
            font-size: 20px;
            border: 1px solid transparent;
            padding: 10px;
            background: #96b92c;
            outline: none;
            color: #fff;
            width: 132px;
            height: 44px; // margin-left: -5px;
        }
    }
}
@media (max-width: 992px) {
    .subscribe {
        background-position: center;
        &__big-box {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        &__form {
            width: 80%;
        }
        &__content {
            &--p {
                width: 70%;
            }
        }
    }
}
@media (max-width: 768px) {
    .subscribe {
        &__form {
            width: 90%;
        }
        &__content {
            &--p {
                width: 70%;
            }
        }
    }
}
@media (max-width: 576px) {
    .subscribe {
        background-image: none;
        &__form {
            width: 100%;
        }
        &__content {
            text-align: center;
            &--p {
                width: 100%;
            }
        }
    }
}